.img-thumbnail {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px; /* Rounded border */
    padding: 5px; /* Some padding */
    height: 150px; /* Set a small height */
}

/* Add a hover effect (blue shadow) */
img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.table {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

#tabla td, thead {
    border: 2px solid darkblue;
    background-color: aliceblue;
}

.page-name {
    text-align: center;
}

.page-background {
    background-color: cornsilk;
    text-align: center;
}

.homePageList {
    text-align: center;
    width: 40%;
    margin-left: auto;
    margin-right: auto;

}

#details tr td {
    border: 1px solid cadetblue;
    background-color: beige;
}

table.fixed { table-layout:fixed; }
table.fixed td { overflow: hidden; }

#image-on-right {
    float: right;
    margin: 0 0 0 15px;
}

.example_a {
    color: #fff !important;
    text-transform: capitalize;
    background: #ffffcc;
    padding: 10px;
    border-radius: 3px;
    display: inline-block;
    border-style: solid;
    border-color: sienna;
    border-width: 4px;
}

.example_ab {
    color: #fff !important;
    text-transform: capitalize;
    background: #ffffcc;
    padding: 10px;
    border-radius: 2px;
    display: inline-block;
    border-style: solid;
    border-color: sienna;
    border-width: 2px;
    float: right;
    vertical-align: middle
}

.example_a:hover {
    background: palegoldenrod;
    letter-spacing: 0px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.4s ease 0s;
}

.example_ab:hover {
    background: palegoldenrod;
    letter-spacing: 0px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.4s ease 0s;
}

.text-color {
    color: #cc0000;
}

#homePageList tr, td {
    border: 1px solid sienna;
    background-color: #ffffcc;
}

#homePageListHeader tr, th {
    border: 3px solid sienna;
    background-color: #ffffcc;
}

#image-on-center {
    float: center;
    margin: 0 0 0 15px;
}

.ASC {
    transform: scaleY(1);
}

.DESC {
    transform: scaleY(-1);
}


#search {
    text-align: center;
}
