<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link href="/static/mark's_style.css" rel="stylesheet">
    <title>404-NotFound</title>
</head>
<body class="page404">
    <img src="https://i.kym-cdn.com/photos/images/original/001/484/061/ea2.png">
    <div class="error-message">
        <p class="error-title">404 - Page Not Found!</p>
        <p>We are sorry! The page you are looking for couldn't be found
        even with our highly-skilled wombats.</p>
        <a href="{{ url_for("five_latest_question") }}" class="button"><button>Back to Home page</button></a>
    </div>
</body>
</html>