{% extends 'basic.html' %}

{% block title %}
    Add New Tag
{% endblock %}

{% block body %}
    <h1>Add new Tag</h1>


    <form method="POST" class="add-forms">
        <label for="newtag">New tag:</label><br>
        <input type="text" name="newtag" id="newtag" required><br><br>
        <p><input type="submit" value="Add new tag"></p>
    </form>


    <form method="POST" class="add-forms">
        <label for="selecttag">Select tag:</label><br>
        <select name="selecttag" id="selecttag">
            {% for tag in tags %}
                <option value={{ tag['name'] }}>{{ tag['name'] }}</option>
            {% endfor %}
        </select>
        <p><input type="submit" value="Add existing tag"></p>
    </form>


    <br>
    <a class="button" href="/question/{{ question_id }}">
        <button>Back to Question</button>
    </a>

{% endblock %}