{% extends 'basic.html' %}

{% block title %}
Qs
{% endblock %}

{% block body %}
<form action="/add-question" method="POST">
    <label for="title">Title:</label><br>
    <input type="text" name="title" id="title" required>
    <label for="message">Message:</label><br>
    <textarea name="message" id="message" required minlength="5" cols="42" rows="4"></textarea>
    <label for="image">Image:</label><br>
    <input type="text" name="image" id="image"><br>
    <input type="submit" value="Ask a new question">
</form>

{% endblock %}

