{% extends 'basic.html' %}

{% block title %}
Add new answer
{% endblock %}
{% block body %}
<h1>Add new answer</h1>
    <h2>Question: {{ question['title'] }}</h2>
<form action="/question/{{question_id}}/new-answer" method="POST">
    <p>Message:</p>
    <p><textarea name="message" rows="7" cols="40" required minlength="10"></textarea></p>
    <p>Image:</p>
    <p><input type="text" name="image"></p>

    <p><input type="submit" value="Add new Answer"></p>
</form>
    <button><a href="/question/{{ question["id"] }}">Back to Question</a></button>
    <br><br>
    <button><a href="/">Homepage</a></button>
{% endblock %}