{% extends 'basic.html' %}

{% block title %}
    Add new answer
{% endblock %}

{% block body %}
    <h1>Add new answer</h1>
        <h2>Question: {{ question['title'] }}</h2>

    <form action="/question/{{question_id}}/new-answer" method="POST" class="add-forms">
        <p>Message:<br>
            <textarea name="message" rows="7" cols="40" required minlength="10"></textarea></p>

        <p>Image:<br>
            <input type="text" name="image"></p>

        <p><input type="submit" value="Add new Answer"></p>
    </form>
        <a class="button" href="/question/{{ question["id"] }}"><button >Back to Question</button></a>
    {% if login_error == True %}
            <h2 id="error">You have to log-in first!</h2>
        {% endif %}
{% endblock %}