{% extends 'basic.html' %}

{% block title %}
Add Question
{% endblock %}

{% block body %}
    <h1>Add new question</h1>

    <form action="/add-question" method="POST" class="add-forms">
        <p><label for="title">Title:</label><br>
        <input type="text" name="title" id="title" required></p>

        <p><label for="message">Message:</label><br>
        <textarea name="message" id="message" required minlength="5" cols="42" rows="4"></textarea></p>

        <p><label for="image">Image:</label><br>
        <input type="text" name="image" id="image"><br></p>

        <p><input type="submit" value="Add new Question"></p>
    </form>

{% endblock %}

