<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link href="/static/mark's_style.css" rel="stylesheet">
    <link rel="shortcut icon" href="https://www.shareicon.net/data/256x256/2016/11/03/849459_social_512x512.png"
          type="image/x-icon"/>
    <title>
        Comments # FusionM8s
    </title>
</head>
<body class="page-background">
<div class="homePageList">
    <table id="homePageList" id="homePageListHeader" class="fixed" align="center">
        <col width="10px"/>
        <col width="800px"/>
        <col width="80px"/>
        <col width="70px"/>
        <col width="100px"/>
        <tr>
            <th>Post date</th>
            <th>Comments</th>
        </tr>
        <tr>
            {% for comment in comments %}
                </tr>
                <tr>
                    <td>{{ comment["submission_time"] }}</td>
                    <td>{{ comment["message"] | safe }}</td>
                </tr>
            {% endfor %}
    </table>
</div>
</body>
</html>












