<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/style.css" rel="stylesheet">
    <title>
        {% block title %}
            Title
        {% endblock %}
        # FusionM8s
    </title>
</head>
<body class="page-background">
<div class="page-name">
    <h1 class="page-name"><strong><em>Help me World - The meadow of unsolved questions.</em></strong></h1>
    <hr>
</div>
{% block body %}
{% endblock %}
<div>
    <hr>
    <h5>Created by: Fusion M8s</h5>
</div>
</body>
</html>