{% extends 'basic.html' %}

{% block title %}Comments{% endblock %}

{% block body %}
    <div class="homePageList">
        <table id="homePageList" id="homePageListHeader" align="center">
            <tr>
                <th>Post date</th>
                <th>Message</th>
            </tr>
            {% for comment in comments %}
                <tr>
                    <td>{{ comment['submission_time'] }}</td>
                    <td>{{ comment['message'] }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}