{% extends 'basic.html' %}

{% block title %}
    Edit question
{% endblock %}

{% block body %}
    <h1>Edit question</h1>

    <form action="{{ url_for('edit_comment', comment_id=comment_id) }}" method="POST" class="add-forms">
        <p><label for="message">Message:</label><br>
            <input type="text" name="message" id="message" value="{{ comment['message'] }}" required></p>
        <p><input type="submit" value="Edit Question"></p>
    </form>

    <p><a class="button" href="/question/{{ question["id"] }}">
        <button>Back to Question</button>
    </a></p>
{% endblock %}















