{% extends 'basic.html' %}

{% block title %}
    Edit comment
{% endblock %}

{% block body %}
    <h1>Edit comment</h1>

    <form action="{{ url_for('edit_comment', comment_id=comment_id) }}" method="POST" class="add-forms">
        <p><label for="message">Message:</label><br>
            <textarea name="message" id="message" rows="10" cols="70" required>{{ comment['message'] }}</textarea></p>
        <p><input type="submit" value="Edit Question"></p>
    </form>

    <p><a class="button" href="/question/{{ question_id }}">
        <button>Back to Question</button>
    </a></p>
{% endblock %}















