{% extends 'basic.html' %}

{% block title %}Welcome{% endblock %}

{% block home_active %}class="active"{% endblock %}

{% block body %}
        <div class="page-description"><h2 align="center">About Fusion M8's</h2>
        <p>
            Welcome to our page! This small website is aimed at our peers, to provide a platform
            to ask their questions, answer them and help each other. We hope that everyone will ask
            their questions, and remember: it never hurts to ask a question! It is important! :)<p>
        <p >The smart ones ask when they don’t know. And, sometimes, when they do. - Malcolm Forbes<p>
        <br>

        <a href="{{ url_for('route_list') }}"><button>All questions</button></a>

        <h3 align="center">Most Recent Questions:</h3></div>

        <div>
            <table class="table">
                <tr>
                    <th>Post date</th>
                    <th>Title</th>
                    <th>View number</th>
                    <th>Vote number</th>
                </tr>
                {% for question in questions %}
                    <tr>
                        <td>{{ question['submission_time'] }}</td>
                        <td>
                            <a href="{{ url_for("question_page", question_id=question['id']) }}"> {{ question['title'] | safe }}</a>
                        </td>
                        <td>{{ question['view_number'] }}</td>
                        <td>{{ question['vote_number'] }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
{% endblock %}