{% extends 'basic.html' %}

{% block title %}Welcome{% endblock %}

{% block body %}

    <strong>
        <button class="example_a"><a class="text-color" href="{{ url_for('add_question') }}"><strong>Add new
            question</strong></a></button>
        <br><br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/T1LqYfgb6EY?controls=0&amp;start=15;autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <br>
        <div class="homePageList">
            <table id="homePageList" id="homePageListHeader" align="center">
                <tr>
                    <th><a href="{{ url_for("order_list_by", order_by="submission_time", order_direction="ASC")}}" >Post date</a></th>
                    <th><a href="{{ url_for("order_list_by", order_by="title", order_direction="ASC")}}" >Title</a></th>
                    <th><a href="{{ url_for("order_list_by", order_by="view_number", order_direction="ASC")}}" >View number</a></th>
                    <th><a href="{{ url_for("order_list_by", order_by="vote_number", order_direction="ASC")}}" >Vote number</a></th>
                </tr>
                {% for question in user_questions %}
                    <tr>
                        <td>{{ question['submission_time'] }}</td>
                        <td>
                            <a href="{{ url_for("question_page", question_id=question['id']) }}"> {{ question['title'] | safe }}</a>
                        </td>
                        <td>{{ question['view_number'] }}</td>
                        <td>{{ question['vote_number'] }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </strong>
{% endblock %}