{% extends 'basic.html' %}

{% block title %}
    Question
{% endblock %}

{% block body %}
        <table class="question-table">
        <col width="150px">
        <col width="1000px">
        <col width="100px">
            <tr>
                <td rowspan="2"><img src=" {{ question["image"] }}" alt="" height="150" width="150"></td>
                <td class="question-title">{{ question["title"] }}</td>
                <td>
                    <div class="dropdown">
                    <button class="dropbtn">Options</button>
                    <div class="dropdown-content">
                    <a href="/question/{{ question["id"] }}/edit">Edit Question</a>
                    <a href="{{ url_for("delete_question", question_id=question['id']) }}">Delete Question</a>
                    <a href="{{ url_for("add_tag_to_question", question_id=question['id']) }}">Add Tag</a>
                    </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td> {{ question["message"] }}</td>
                <td>
                    <table>
                    <tr><td>Vote for Question:<br>
                        <a class="vote-button" href="{{ url_for("question_vote", question_id=question['id'],  modifier="up") }}"><button value="{{ question["id"] }}">+</button></a>
                        <a class="vote-button" href="{{ url_for("question_vote", question_id=question['id'], modifier="down") }}"><button value="{{ question["id"] }}">-</button></a>
                    </td></tr>
                    <tr><td>
                        Tags:
                        {% for tag in tags %}
                    <p>#{{ tag['name'] }} <a class="vote-button" href="{{ url_for("delete_tag", tag_id=tag['tag_id'], question_id=question['id'] ) }}"><button>x</button></a>
                    </p>
                {% endfor %}
                    </td></tr>
                    </table>
                </td>
            </tr>
        </table>
        {% if question_comments!= [] %}
        <h2>Question comments</h2>
        <hr>
        <iframe class="main-iframe" width="1060" height="200" src="/question/{{ question["id"] }}/comments" frameborder="0"
                allow="accelerometer;"></iframe>
        <hr>
        {% endif %}
        <br><br>
        <table class="button-table" align="center">
            <tr>
                <td><a class="button" href="/question/{{ question["id"] }}/new-answer"><button>Add new Answer</button></a></td>
                <td><a class="button" href="/question/{{ question["id"] }}/new-comment"><button>Add comment</button></a></td>
            </tr>

            <hr>
        </table>
            {% if answers != [] %}
            <table class="answer-table">
                <caption><h2>Answers</h2></caption>
                <col width="100px">
                <col width="800px">
                <col width="155px">
                <col width="10px">
                <tr>
                    <th>Image</th>
                    <th>Message</th>
                    <th>Options</th>
                    <th>Votes</th>
                </tr>

                    {% for answer in answers %}
                    <tr>
                        <td>
                            <img src=" {{ answer["image"] }}" alt="" height="100">
                        </td>
                        <td>{{ answer["message"] | safe }}</td>
                        <td>
                            <p><a class="comment-button" href="/answer/{{ answer["id"] }}/new-comment"><button >Add comment</button></a>
                            </p>
                            <p>Voting:
                            <a class="vote-button" href="{{ url_for("answer_vote", answer_id=answer['id'], question_id=answer['question_id'], modifier="up") }}"><button value="{{ answer["id"] }}">+</button></a>
                            <a class="vote-button" href="{{ url_for("answer_vote", answer_id=answer['id'], question_id=answer['question_id'], modifier="down") }}"><button value="{{ answer["id"] }}">-</button></a>
                            </p>
                            <p><a class="comment-button" href="{{ url_for("delete_answer", answer_id=answer['id'], question_id=answer['question_id']) }}"><button value="{{ answer["id"] }}">Delete Answer</button></a>
                            </p>
                        </td>

                        <td>{{ answer["vote_number"] }}</td>
                    </tr>
                    <tr>
                        <td colspan="5" height="100px"><iframe  width="1060" height="200" src="/answer/{{ answer["id"] }}/comments" frameborder="0";></iframe></td>
                    </tr>
                    {% endfor %}
                {% else %}
                        <h2 id="no_answers">No answers yet!</h2>
                {% endif %}
        </table>
{% endblock %}