{% extends 'basic.html' %}

{% block title %}
Question
{% endblock %}
{% block body %}
    <table>
        <tr>
            <td> Question:</td>
            <th><p>{{ question["title"] }}</p></th>
        </tr>
        <tr>
            <td> Details:</td>
            <td><p>{{ question["message"] }}</p></td>
        {% for answer in answers %}
        </tr>
            <tr>
                <td>{{ answer["id"] }}</td>
                <td>{{ answer["message"] }}</td>
            </tr>
        {% endfor %}
    </table>
    <button><a href="/question/{{ question["id"] }}/new-answer">Add new answer</a></button>
    <br><br>
    <button><a href="/">Homepage</a></button>
{% endblock %}