{% extends 'basic.html' %}

{% block title %}
    Question
{% endblock %}
{% block body %}
    <table id="details">
        <tr>
            <td><h4>Question</h4></td>
            <td><h5>{{ question["title"] }}</h5></td>
        </tr>
        <tr>
            <td>Details: </td>
            <td> {{ question["message"] }}</td>
        </tr>
    <img src=" {{ question["image"] }}" alt="" height="200" id="image-on-right"/>
    </table>

    <br><br><br><br>
    <table>
        <tr>
            <button value="{{ question["id"] }}"><a href="{{ url_for("delete_question", question_id=question['id']) }}">
                        DELETE QUESTION</a></button>
            <button><a href="/question/{{ question["id"] }}/edit">EDIT QUESTION</a></button>
        </tr>

        <br><hr>

        <table id="details">
        <caption><h2>Answers</h2></caption>
       <tr>
            <th>Number of votes</th>
            <th>Message</th>
            <th>Vote UP</th>
            <th>Vote DOWN</th>
            <th>Delete answer</th>
            <th>Image</th>
        </tr>
        <tr>
            {% for answer in answers %}
                </tr>
                <tr>
                    <td>{{ answer["vote_number"] }}</td>
                    <td>{{ answer["message"] | safe }}</td>
                    <td>
                        <button value="{{ answer["id"] }}"><a
                                href="{{ url_for("answer_vote", answer_id=answer['id'], question_id=answer['question_id'], modifier="up") }}">+1
                        </a></button>
                    </td>
                    <td>
                        <button value="{{ answer["id"] }}"><a
                                href="{{ url_for("answer_vote", answer_id=answer['id'], question_id=answer['question_id'], modifier="down") }}">-1
                        </a></button>
                    </td>
                    <td>
                        <button value="{{ answer["id"] }}"><a
                                href="{{ url_for("delete_answer", answer_id=answer['id'], question_id=answer['question_id']) }}">Delete
                        </a></button>
                    </td>
                    <td>
                        <img src=" {{ answer["image"] }}" alt="" height="100" id="image-on-right"/>
                    </td>

                </tr>
            {% endfor %}
    </table>
        <button><a href="/question/{{ question["id"] }}/new-answer">Add new answer</a></button>
        <br><br>
        <button><a href="/">Homepage</a></button>
{% endblock %}