<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link href="/static/mark's_style.css" rel="stylesheet">
</head>
<body class="comments">
    <table class="answer-table">
        <col width="100px">
        <col width="700px">
        <tr>
            <th>Post date</th>
            <th>Comment(s)</th>
        </tr>
        <tr>
            {% for comment in comments %}
                </tr>
                <tr>
                    <td>{{ comment["submission_time"] }}</td>
                    <td>{{ comment["message"] | safe }}</td>
                </tr>
            {% endfor %}
    </table>
</body>
</html>












